<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Master supplier</title>

</head>
<body>
	<button type="button" class="btn btn-warning" id="btn-refresh" onclick="loadsplrlist();">Reload data</button>
	<table id="splrlisttb" class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Supplier ID</th>
				<th>Supplier Name</th>
				<th>Supplier Alamat</th>
				<th>Supplier Email</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="splr : ${splrlist}">
				<td th:text="${splr.idsupplier}">Product ID</td>
				<td th:text="${splr.nama}">Name</td>
				<td th:text="${splr.alamat}">alamat</td>
				<td th:text="${splr.email}">Email</td>
				<td>
				<button type="button" class="btn btn-warning" id="btn-edit"
						th:href="@{'/splredit/' + ${splr.idsupplier}}"
						onclick="EditFunction(this);">Edit</button>
						
				<button type="button" class="btn btn-danger" id="btn-delete"
						th:href="@{'/splrdelfrm/' + ${splr.idsupplier}}"
						onclick="EditFunction(this);">Delete</button>
						</td>
			</tr>
			</tbody>
	</table>
	
</body>
	<script>
	
	 $(document).ready(function() {
			$('#splrlisttb').dataTable( {
				  "lengthMenu": [ 4,7,10 ]
				} );
		} ); 
	
	function EditFunction(d) {
		var x = d.getAttribute("href");
		$.ajax({
			url : x,
			type : 'get',
			dataType : 'html',
			success : function(result) {
				$('#splrlist').html(result);
			}
		});
	} 	
	</script>

</html>